<article class="{{partial "post-classes"}}">
  {{ .Render "header" }}
  {{ .Render "featured" }}
  <div id="content" class="{{partial "content-classes"}}">
    {{ $.Scratch.Set "summary" ((delimit (findRE "<p.*?>(.|\n)*?</p>" .Content 1) "") | truncate (default 500 .Site.Params.summary_length) (default "&hellip;" .Site.Params.text.truncated ) | replaceRE "&amp;" "&" | safeHTML) }}
    {{ $.Scratch.Get "summary" }}
    <footer>
      <a href="{{ .RelPermalink }}" class="mb-4 button w-full sm:w-auto text-center mt-3">Continue Reading</a>
      {{ .Render "footer-category" }}
    </footer>
  </div>

</article>