<!-- Pagination -->
<ul class="actions pagination -mt-5 mb-5 text-center md:text-left">
    {{ if .Paginator.HasPrev }}
    <li class="inline-block mr-1">
        <a href="{{ .Paginator.Prev.URL }}" class="button big previous bg-white dark:bg-solarized-base02 dark:text-solarized-base00">
            <i class="icon-long-arrow-left"></i>
            Previous Page
        </a>
    </li>
    {{ else }}
    <li class="inline-block  mr-1">
        <a href="#" class="button big previous bg-white dark:bg-solarized-base02 dark:text-solarized-base00 opacity-50 pointer-events-none">
            <i class="icon-long-arrow-left"></i>
            Previous Page
        </a>
    </li>
    {{ end }}

    {{ if .Paginator.HasNext }}
    <li class="inline-block  ml-1">
        <a href="{{ .Paginator.Next.URL }}" class="button big next bg-white dark:bg-solarized-base02 dark:text-solarized-base00">
            Next Page
            <i class="icon-long-arrow-right"></i>
        </a>
    </li>
    {{ else }}
    <li class="inline-block ml-1">
        <a href="#" class="disabled button big next bg-white opacity-50 pointer-events-none dark:bg-solarized-base02 dark:text-solarized-base00">
            Next Page
            <i class="icon-long-arrow-right"></i>
        </a>
    </li>
    {{ end }}
</ul>